body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none !important;
}

form {
  max-width: 400px;
  margin: 20px auto;
}

.search-bar {
  margin-bottom: 50px;
}

.btn-round {
  margin: 20px;
}

nav {
  background-color: purple;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 70vh
}

nav img {
  height: 10vh
}

img {
  height: 20vh
}

form {
  display: flex;
  flex-direction: column;
}
